body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #584e43;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    height: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    position: relative;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    left: -450%;
}

nav ul li .dropdown-content a {
    color: #007bff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

nav ul li:hover .dropdown-content {
    display: block;
}

nav ul li a.dropbtn {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a {
    color: #007bff;
    text-decoration: none;
}

header h4 {
    margin: 0;
    font-weight: 800;
}

.secondary-navbar {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0px;
}

.secondary-navbar .logo img {
    height: 50px;
    width: 170px;
}

.secondary-navbar .search-box {
    margin-left: auto;
}

.secondary-navbar .search-box input[type="text"] {
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    margin-right: 5px;
    width: 600px;
    height: 30px;
}

.secondary-navbar .additional-content a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}

/* menu-bar */
.menu-bar {
    background-color: #007bff;
    /* Background color of the menu bar */
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    display: inline;
}

.menu-bar li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

/* banner */
.banner1 {
    background-color: #f0f0f0;
    margin-top: 200px;
    padding-left: 20px;
    padding-right: 20px;
    /* Background color of the section */
}

.full-size-image img {
    width: 100%;
    display: block;
    /* Ensure the image fills the container */
}

.full-size-image h2 {
    text-align: center;
    color: #387569;
    background-color: #F7EFE0;
    padding-top: 10px;
}

.full-size-image h5 {
    text-align: center;
    color: #387569;
    padding-bottom: 10px;
}

/* Additional CSS for the header-section and full-size-image-section */
.header-section {
    margin-bottom: 20px;
}

/* Header styles */
.header-section header {
    position: relative;
    z-index: 2;
}

/* banner section styles */
.banner1 {
    position: relative;
    z-index: 1;
}

/* banner2 */
.banner2 {
    background-color: #f0f0f0;
    /* Background color of the section */
    padding: 20px;
    /* Add padding as needed */
}

.image-container {
    display: flex;
    gap: 20px;
    /* Adjust the gap between images */
}

.image-container img {
    width: calc(50% - 10px);
    /* Calculate width for two images with gap */
    max-width: 100%;
    /* Ensure images don't exceed their container */
}

/* banner3 */
.banner3 {
    background-color: #F7EFE0;
    /* Background color of the section */
    padding: 20px;

}

.banner5 {
    background-color: #fff;
    /* Background color of the section */
    width: 100%;
    padding: 20px;

}

/* scrollable-images */
.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-container img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    /* Adjust the spacing between images */
    animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* image-card */
.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 22%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card-description {
    padding: 10px;
    background-color: #f8f8f8;
}

/* image-section */
.image-section {
    background-color: white;
    padding-top: 10px;
    text-align: center;
}

.image-containers {
    display: inline-block;
    /* margin: 10px; */
}

.image-containers img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .secondary-navbar .search-box input[type="text"] {
        width: 300px;
    }
}

.promo-section {
    background-color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1px solid
}

.promo-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.costco-direct {
    display: flex;
    align-items: center;
    margin-right: 40px;
    background-color: #d9534f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    height: 30px;
    width: 200px;
}

.costco-direct span {
    font-size: 1.5em;
    font-weight: 750;
}

.promo-text {
    max-width: 60%;
    margin-right: 40px;

}

.promo-text span {
    font-size: 1.9em;
    font-weight: bolder
}

.promo-text p {
    margin: 5px 0;
    padding: 20px;
}

.promo-para h4 {
    font-size: larger;
}

.costco-direct-tag {
    background-color: #d9534f;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Promo  */
.promo-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    flex-wrap: wrap;
}

.promo-column {
    width: 23%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
}

.promo-header {
    background-color: #0078D7;
    color: white;
    padding: 10px 0;
    position: relative;
}

.promo-circle {
    background-color: #004A99;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    text-align: center;
    font-size: 1em;
}

.promo-save {
    padding-top: 50px;
    font-size: 1.2em;
    font-weight: bold;
}

.promo-images img {
    max-width: 100%;
    margin: 10px 0;
}

.bot {
    background-color: #584e43;
    text-align: center;
    width: 100%;
}

/* new  */
.banner {
    background-color: #d9534f;
    color: #ffd700;
    text-align: center;
    padding: 10px;
}

.promo-sections {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

.promo-columns {
    width: 30%;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.promo-columns .images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-columns .images img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
}

.price span:last-child {
    display: block;
    font-size: 0.8em;
    color: #555;
}

.validity {
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
}

.brands img {
    max-width: 100%;
    margin-top: 10px;
}

h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.column {
    flex: 1;
    padding: 10px;
}

.column img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5%;
}

.column div {
    margin-bottom: 20px;
}


.footer {
    height: 100vh;
    background-color: #f1f1f1;
    color: rgb(39, 36, 36);
    padding: 10px 0;
    text-align: left;
    gap: 50px;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-left: 70px;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #858d7b;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #413c3c;
    text-decoration: underline;
}

.last {
    display: flex;
    gap: 30px;
    margin: 40px 40px 60px 50px;
}

.last a {
    color: #707779;
    text-decoration: none;
}

.copy {
    text-align: center;
    color: #707779;
}